.hidden {
  visibility: hidden;
}

.sourcecode {
  float: right;
}

.name {
  color: inherit;
}
.name .main {
  color: inherit;
}
.name .alternatives {
  color: blue;
  font-size: xx-small;
  vertical-align: top;
  font-style: italic;
}

.development.up {
  color: limegreen;
}

.development.down {
  color: red;
}

table tr .name,
table tr .id {
  text-align: left;
}

table tr .rating,
table tr .development,
table tr .games {
  text-align: right;
}